spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/employeedb
    username: empuser
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
